/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Main container */
.App {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
}

/* Form styles */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #6200ea;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background-color: #6200ea;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3700b3;
}

/* To-do list styles */
ul {
  list-style-type: none;
  padding: 0;
  
}

li {
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, background-color 0.3s;
}

li:hover {
  background-color: #f1f1f1;
  transform: scale(1.02);
}

li button {
  padding: 8px 12px;
  font-size: 14px;
}

button.update {
  background-color: #007bff;
}

button.update:hover {
  background-color: #0056b3;
}

button.delete {
  background-color: #dc3545;
}

button.delete:hover {
  background-color: #c82333;
}
h4 {
  border: 1px solid black;
  padding: 10px;
}

/* Responsive design */
@media (max-width: 500px) {
  .App {
    width: 90%;
    padding: 20px;
  }

  form {
    flex-direction: column;
  }

  input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
